<!-- partials/home/home-book.ejs -->

<li class="book" id="<%= bookData._id %>" data-book-id="<%=bookData._id%>" data-role="<%= role %>">
    <div class="cover">
        <img class="book-cover" src="data:image/jpeg;base64,<%=bookData.coverImage%>" alt="Book Cover">
    </div>
    <div class="details">
        <h2 class="book-title"><%=bookData.title? bookData.title:"no title details"%></h2>
        <p class="book-author"><%=bookData.author? bookData.author:"no author details"%></p>
        <p class="description"><%=bookData.description? bookData.description:"no description given"%></p>
        <p class="type"><%=(bookData.genres).join(", ")%></p>
        <h4 class="price"><%=bookData.price%></h4>
    </div>
</li>