<!-- partials/home/home-content -->


<search id="search-section">
        <form id="search-form">
            <div id="search-category">
                <select class="filter" id="filter-category" name="category">
                    <option value="any" selected>Category</option>
                    <option value="bestsellers">Best Sellers</option>
                    <option value="non-fiction">Non-Fiction</option>
                    <option value="fiction">Fiction</option>
                    <option value="classics">Classics</option>
                    <option value="young-adult">Young-Adult</option>
                    <option value="Children">Children</option>
                </select>
                <select class="filter" id="filter-price" name="price">
                    <option value="any" selected>Price</option>
                    <option value="0-5">$0-$5</option>
                    <option value="5-10">$5-$10</option>
                    <option value="10-15">$10-$15</option>
                    <option value="15+">$15 above</option>
                </select>

                <div id="sort-container">
                    <label for="sort">Sort by</label>
                    <select id="sort" name="sort">
                        <option value="title">Title</option>
                        <option value="publishedYear">Year</option>
                        <option value="price">Price</option>
                    </select>
                </div>            
            </div>
            <div id="search-container">
                <input id="search-input" name="keyword" type="text" placeholder="Enter Keywords">
                <input id="search-btn" type="submit" value="Search">
            </div>
        </form>
    </search>

    <main id="home-content">

        <div id="home-header">
            <h1>Explore New Reads</h1>
        </div>
        <div id="book-container">

            <ul id="book-list">
                <!-- Books will be dynamically inserted here -->
                <% if(typeof books != "undefined") {%>
                    <% for(var i = 0; i < books.data.length; i++) {%>
                        <%- include('home-book',{bookData: books.data[i]}) %>
                    <%}%>
                <% } else {%>
                    <%- include("../loading") %>
                <% } %>

            </ul>
        </div>
        
        <input type="hidden" id="base-book-query" value="<%= previousQuery %>">
        <nav class="home-pagination-container" aria-label="Page navigation">
            <ul class="home-pagination" 
                data-total-item="<%= books.count || 0 %>" 
                data-total-page="<%= Math.ceil((books.count || 0) / 10) %>" 
                data-start-page="<%= startPage %>" 
                data-end-page="<%= endPage %>"
            >
                <li class="home-page-item-previous">Previous</li>

                <% 
                    const totalPages = Math.ceil((books.count || 0) / 10);
                    for (let pageNum = startPage; pageNum <= endPage; pageNum++) { 
                %>
                    <% if (pageNum <= totalPages) { %>
                        <li 
                            class="home-page-item <%= pageNum === currentPage ? 'active' : '' %>" 
                            data-page-index="<%= pageNum %>"
                        >
                            <%= pageNum %>
                        </li>
                    <% } %>
                <% } %>
                
                <li class="home-page-item-next">Next</li>
            </ul>
        </nav>
    </main>
            
            

