<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/not-found.css" type="text/css">
    <link rel="stylesheet" href="/loading.css" type="text/css">
    
    <link rel="stylesheet" href="/navbar.css" type="text/css">
    <link rel="stylesheet" href="/footer.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <script src="/menuPage/sign-out.js" type="module" defer></script>
    <script src="/menuPage/reset-password.js" type="module" defer></script>
    
    <% if(role === "admin") {%>
        <script src="/menuPage/list-user.js" type="module" defer></script>
        <script src="/menuPage/add-admin.js" type="module" defer></script>
    <% } %>
    <% if(state === "addbook" && role === "admin") {%>
        <link rel="stylesheet" href="/bookdesc/bookdesc.css" type="text/css">
        <link rel="stylesheet" href="/bookdesc/popup.css" type="text/css">
        <script src="/descriptionPage/image-preview.js" type="module" defer></script>
        <script src="/descriptionPage/update-book.js" type="module" defer></script>
        <script src="/descriptionPage/back-to-menu.js" type="module" defer></script>    
    <% } %>
    <% if(state === "description" && role === "admin") {%>
        <link rel="stylesheet" href="/bookdesc/bookdesc.css" type="text/css">
        <link rel="stylesheet" href="/bookdesc/popup.css" type="text/css">
        <script src="/descriptionPage/image-preview.js" type="module" defer></script>
        <script src="/descriptionPage/back-to-menu.js" type="module" defer></script> 
        <script src="/descriptionPage/edit-book.js" type="module" defer></script>    
    <% } %>
    <!-- --------------------------------------------- -->
    <% if(state === "description" && role === "user") {%>
        <link rel="stylesheet" href="/bookdesc/bookdesc.css" type="text/css">
        <link rel="stylesheet" href="/bookdesc/popup.css" type="text/css">
        <script src="/descriptionPage/popup.js" type="module" defer></script>    
        <script src="/descriptionPage/add-to-cart.js" type="module" defer></script>    
        <script src="/descriptionPage/back-to-menu.js" type="module" defer></script>    
    <% } %>
    <% if(state === "ordersuccess" && role === "user") {%>
        <link rel="stylesheet" href="/cart/order-success.css" type="text/css">
    <%}%>
    <% if(state === "cart" && role === "user") {%>
        <link rel="stylesheet" href="/cart/cart.css" type="text/css">
        <script src="/cartPage/cart.js" type="module" defer></script>
    <% } %>
    <% if(state === "mybooks" && role === "user") {%>
        <link rel="stylesheet" href="/mybook/mybook-content.css" type="text/css">
        <script src="/mybookPage/pagination.js" type="module" defer></script>
        <script src="/mybookPage/mybook-operation.js" type="module" defer></script>
    <% } %>
    <% if(state === "home") {%>
        <link rel="stylesheet" href="/home/home-search.css" type="text/css">
        <link rel="stylesheet" href="/home/home-header.css" type="text/css">
        <link rel="stylesheet" href="/home/home-body.css" type="text/css">
        <script src="/menuPage/pagination.js" type="module" defer></script>
        <script src="/menuPage/load-book.js" type="module" defer></script>
        <script src="/menuPage/book-click.js" type="module" defer></script> 
    <% } %>
    

</head>

<body>
    <nav id="nav-bar">
        <div id="nav-left">
            <h2 id="logo">BestRead</h2>
            <ul id="nav-choices">
                <li class="<%= state === 'home'? 'active':''%>"><a href="/page/content?state=home">Home</a></li>
                <%if(role === 'user'){%>
                    <li class="<%= state === 'cart'? 'active':'' %>"><a href="/page/content?state=cart">Cart</a></li>
                    <li class="<%= state === 'mybooks'? 'active':''%>"><a href="/page/content?state=mybooks">My Books</a></li>
                <%}else if(role === 'admin'){%>
                    <li class="<%= state === 'addbook'? 'active':''%>"><a href="/page/content?state=addbook">Add Book</a></li>
                    <li><a id="add-admin-tag" href="#">Add Admin</a></li>
                    <!-- <li><a id="list-user" href="#">List User</a></li> -->
                <%}%>
            </ul>
        </div>
        <div id="nav-right">
            <form id="reset-form" action="#" method="#">
                <input id="reset" type="submit" value="Reset Password">
            </form>
            <form id="sign-out-form" action="/page/signout" method="post">
                <input id="sign-out" type="submit" value="Sign out">
            </form>
        </div>
    </nav>

<!-- ,startPage:startPage,endPage:endPage,currentPage:currentPage -->
    <%if(state === 'home'){%>
        <% if( typeof books != "undefined") {%>
        <%- include('partials/home/home-content',{role:role,books:books,previousQuery:previousQuery,currentPage,startPage:startPage,endPage:endPage}) %>
        <% } else{%>
        <%- include('partials/home/home-content',{role:role}) %>
        <% } %>
    <% }else if(state === 'cart' && role === 'user') {%>
        <%- include('partials/cart/cart',{role:role}) %>
    <% }else if(state === 'ordersuccess' && role === 'user') {%>
        <%- include('partials/cart/orderSuccess') %>
    <% }else if(state === 'mybooks' && role === 'user') {%>
        <%- include('partials/mybook/mybook-content',{books:books,currentPage:currentPage,startPage:startPage,endPage:endPage,totalPage:totalPage}) %>
    <% }else if(state === 'description') {%>
        <%- include('partials/bookinfo/book-description',{role:role,book:book}) %>
    <% } else if(state === 'addbook' && role === 'admin') {%>
        <%- include('partials/bookinfo/book-description',{role:role}) %>
    <% } else {%>
        <%- include('partials/not-found') %>
    <% } %>   


    
    <footer id="footer">
        <h2 id="footer-logo">BestRead</h2>
    </footer>
</body>
</html>
