<!-- partials/mybook/mybook-content -->

<div id="mybook-container">
    <div id="mybook-content">
        <h2 id="mybook-page-title">My Books</h2>
        <div id="divider-line"></div>
        <div id="mybook-list-container">
            <!-- if own book count is 0 generate message -->
             <%if(books.length == 0) {%>
                <div id="mybook-empty-container">
                    <img src="/img/cart_empty_icon.png">
                    <h3>There is no item here</h3>
                    <div id="btn-container">
                        <a href="/page/content/?state=home" id="show-now-link">
                            <button id="shop-now">Shop Now</button>
                        </a>
                    </div>
                </div>
            <%} else{%>
                <ul id="mybook-list">
                    <% for(var i = 0; i < books.length; i++) {%>
                        <%- include('mybook-book',{book:books[i]}) %>
                    <% } %>
                </ul>
            <%}%>
        </div>
        <% if(totalPage > 0) {%>

            <nav class="mybook-pagination-container" aria-label="Page navigation">
                <ul class="mybook-pagination"  
                    data-total-page="<%= totalPage %>" 
                    data-start-page="<%= startPage || 1%>" 
                    data-end-page="<%= endPage || 1%>"
                >
                    <li class="mybook-page-item-previous">Previous</li>

                        <% 
                            const totalPages = totalPage;
                            for (let pageNum = startPage; pageNum <= endPage; pageNum++) { 
                        %>
                            <% if (pageNum <= totalPages) { %>
                                <li 
                                    class="mybook-page-item <%= pageNum === currentPage ? 'active' : '' %>" 
                                    data-page-index="<%= pageNum %>"
                                >
                                    <%= pageNum %>
                                </li>
                            <% } %>
                        <% } %>
                        
                    <li class="mybook-page-item-next">Next</li>
                </ul>
            </nav>
        <%}%>
    </div>

</div>